*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif  
}

.our-products{
    text-align: center;
    max-width: 100%;
    margin: 20px auto;
    padding: 0 20px;
    line-height: 1.6;
}

.our-products h1{
    font-size: 45px;
    font-weight: 700;
    text-decoration: underline;
}
.our-products h2{
    font-size: 30px;
    margin-bottom: 20px;
}

.our-products p{
    font-size: 20px;
    margin: 0 auto 20px;
    max-width: 50%;
}

.description{
    margin-bottom: 50px;
}